doctype html
html
  head
    title="COVID Donate & Discuss"
    link(href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')

    meta(property="og:title" content="COVID: Donate & Discuss")
    meta(property="og:description" content="Individuals offer their time in exchange of a donation made for a COVID cause")
    meta(property="og:image" content="/corona.jpg")
    meta(property="og:url" content="https://covid.questbook.app")
    meta(property="twitter:title" content="COVID: Donate & Discuss")
    meta(property="twitter:description" content="Individuals offer their time in exchange of a donation made for a COVID cause")
    meta(property="twitter:image" content="/corona.jpg")
    meta(name="twitter:card" content="summary_large_image")



  body
    div(class="mui-appbar" style="background-color: hsl(253, 56%, 43%);")
      div(class="header" )
        a(href="/" id="logo" style="color: #fff; font-size: 24px") #Donate&Discuss
    div(class="container mui-panel")
      block content
      center(style="margin-top:50px")
        br
        a(href="/tags") Find Individuals | 
        a(href="/create") Become a mentor 
        br 
        br 
        a(href="https://linktr.ee/neilandre97") Trusted Organizations to donate to | 
        a(href="https://bip.so/@donateanddiscuss/studio") About Donate & Discuss
        br
        br
        br
        br


